.colecaoComentarios{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.comentatio{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    gap: 10px;
}

.perfilFoto{
    height: 100px;
    
    width: 20%;
    border-radius: 80px;
}

.comentarioDescricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nomeUser{
    font-size: 20px;
}

.divisorComentario{
    bor
    
}