@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

input{
    display: flex;
    justify-content: center;
}

nav{
    width: 100%;
}
ul{
    width: 100%;
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #68B0E4 0px 8px 16px -8px;
}

ul input {
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-right: 70px;
}

li{
    margin: 20px;

}

 li a {
      text-decoration: none;
      color: #306CAE;
}

.iconesLista{
    margin-top: 13px;
    margin-right: 10px;
}
.icon{
    margin: 0px;
    width: 8px;
    height: 8px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption{
    width: 85%;
}

img{
    margin: 25px;
    height: auto;
    width: 100%;
}

main{
    padding: 15px;
}

.produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cards{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 265px;
    height: 450px;
    border-radius: 8px;
    border: solid 2px #306CAE;
    margin-top: 25px;
    margin-bottom: 30px;
}

.cards:hover{
    transform: scale(1.1);
    animation-delay: 5s;
    box-shadow: #68B0E4 0px 7px 29px 0px;
}


.capas{
    margin: 0px;
    width: 220px;
    height: 200px;
    object-fit: cover;
    align-self: center;
}

.capa{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.titulo{
    align-self: flex-start;
    height: 40px;
    font-size: 18px;
    width: 90%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.artista{
    width: 75%;
    height: 20px;
    margin-bottom: 12px;
}

.estrelas{
    display: flex;
    justify-content: flex-start;
    height: 20px;
}

figure{
    margin: 0px;
}

.estrela{
    width: 17px;
    height: 17px;
    margin: 0px;
}

.preco{
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.buttonCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.compra{
    width: 60%;
    height: 35px;
    background-color: white;
    border-color: #68B0E4;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.compra:hover{
    background-color: #90aed0;
    cursor: pointer;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 15%;
    background-color: #fff;  
    border: none;
    cursor: pointer;
}

.icon img{
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.2);
}

hr{
    margin-top: 60px;
    height: 1px;
    background-color: #68B0E4;
}

.propaganda{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#wicked{
    display: flex;
    justify-content: center;
    width: 1400px;
    height: 700px;
}

.ancoras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ancoraCD{
    width: 120%;
    height: auto;
}

#ancoraVinil{
    width: 95%;
    height: 270px;
}

#ancoraFitas{
    width: 95%;
    height: 270px;
}

/* PRODUTOS */
.caminho{
    margin: 40px 40px 40px 25px;
    font-size: x-large;
}
.miniBanner{
    width: 1715px;
    height: 230px;
    background-color: #68B0E4;
    margin: 20px;
    display: flex;
}

.produtosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

#tituloProdutos{
    font-size:xx-large;
    margin: auto;
}

.bannerProdutos{
    width: 100%;
}

#anavitoria{
    width: 90%;
    height: auto;
    display: flex;
    justify-self: center;
}

/*Produto Especifico*/

.produtoEspecifico{
    display: flex;
    gap: 60px;
}

#imagemCD{
    width: 100%;
    height: auto;
}

.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 455px;
    align-content: center;
}

.nomeProduto{
    width: 600px;
    height: 60px;
    font-size: xx-large;
}

.nomeArtista{
    font-size: x-large;
    font-weight: normal;
    margin-top: 55px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.estrelasDescricao{
    display: flex;
    justify-content: left;
    height: 40px;
    gap: 5px;
}

.estrelaDescricao{
    width: 32px;
    height: 32px;
    margin: 0px;
}

figcaption{
    width: 60%;
}

.notaAvaliacao{
    display: flex;
    align-items: center;
    height: 35px;
    font-size: large;
}

.valores{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.precoProduto{
    font-size: 45px;
    font-weight: 500;
}

.parcelasProduto{
    display: flex;
    align-items: center;
}

#maisInformacoes{
    font-style: italic;
    
}

.botaoDeCompra{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.botaoComprar{
    height: 55px;
    width: 250px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    background: none;
    border: solid 2px #68B0E4;
    cursor: pointer;
    
}

.botaoComprar:hover{
    transform: scale(1.1);
}

.botoesExtras{
    width: 55px;
    background: none;
    border-radius: 8px;
    border: solid 2px #68B0E4;
    cursor: pointer;
    

}
.botoesExtras:hover{
    transform: scale(1.1);
}

.botoesExtras i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#coracao{
    margin-top: 5px;
}

.relacionados{
    margin-top: 90px;
}

.colecaoMiniCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.miniCard{
    margin-top: 25px;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-color: black;
    gap: 2px;
}

.capaMiniCard{
    width: 85%;
    height: auto;
    margin: 0;
}

.precoMiniCard{
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 3px;
}

.botoesMiniCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btnMiniCard{
    width: 60%;
    height: 25px;
    border: solid 2px #68B0E4;
    border-radius: 4px;
    cursor: pointer;
}

.btnCarrinhoMiniCard{
    width: 15%;
    border: solid 2px #68B0E4;
    border-radius: 4px;
}

#somar{
    font-size: 30px;
    margin-left: 40;
    margin-right: 40px;
}

.adicionarProduto{
    margin-left: 40px;
    display: flex;
    align-self: left;
    flex-direction: column;
    gap: 10px;
}

.adicionarProduto h1{
    font-size: larger;
    align-self: center;
}

.btnAdicionar{
    width: 300px;
    height: 50px;
    border: solid 2px #68B0E4;
    border-radius: 8px;
    background: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.sobre{
    margin-top: 120px;
    width: 55%;
    padding: 20px;
    height: auto;
    border: solid 2px #68B0E4 ;
    border-radius: 8px;
}

/*AVALIACAO*/

.avaliacoes{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}


.avaliacoes h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.comentario{
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 25px;
    border: solid 1px #90aed0;
    width: 65%;
    padding: 10px;
}

.fotoPerfil{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 50%;
    align-self: center;
}

.conteudo{
    margin-left: 20px;
    width: 90%;
    align-self: center;
}

.nomeUser{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.userCometario{
    font-size: 15px;
}

.separadorComentario{
    margin-top: 35px;
    width: 60%;
}

/*CARRINHO*/

.caminhoCompra{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.caminhoCompra p{
    font-size: 20px;
}

.carrinho{
    margin-top: 50px;
}

.unidades{
    display: flex;
    flex-direction: row;
    width: 100%;

}


.prod{
    margin-right: 550px;
}

.quant{
    margin-right: 85px;
}

.demais{
    margin-left: 250px;
}
.produtoCarrinho{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoProduto{
    display: flex;
    flex-direction: row;
}

.imagemCarrinho{
    width: 8%;
    height: auto;
}

.imagemCarrinho img{
    margin: 0;
}

.infoProduto p{
    width: 28%;
    margin-left: 6px;
}
